<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="shortcut icon"
            type="image/png"
            href="/assets/images/favicon.png"
        />
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/dist/output.css" />
        <script
            src="https://kit.fontawesome.com/5493abd9d4.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body class="flex flex-col flex-initial h-screen dark:bg-nord0 bg-nord5">
        <header
            class="flex mx-10 place-content-between text-nord1 dark:text-nord4"
        >
            <nav
                class="p-4 flex flex-col md:items-center item-start md:flex-row grow-0"
            >
                <div class="md:hidden">
                    <button
                        type="button"
                        class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                        aria-controls="mobile-menu"
                        aria-expanded="false"
                        onclick="toggleMenu(this)"
                    >
                        <span class="sr-only">Open main menu</span>
                        <!--
            Icon when menu is closed.

Menu open: "hidden", Menu closed: "block" -->

                        <svg
                            class="block h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                            name="open"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                            />
                        </svg>
                        <!--
            Icon when menu is open.

Menu open: "block", Menu closed: "hidden" -->

                        <svg
                            class="hidden h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                            name="close"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                    </button>
                </div>

                <div
                    class="absolute md:static md:bg-nord5 md:dark:bg-nord0 dark:bg-nord3 bg-nord6 rounded-lg items-center md:min-h-fit md:py-0 py-3 z-[1] md:opacity-100 opacity-0 md:block left-[-400px] top-[60px]"
                    id="navLinks"
                >
                    <ul
                        class="flex items-center md:items-start gap-7 text-xl md:flex-row flex-col"
                    >
                        <li>
                            <a
                                class="hover:drop-shadow-md hover:rounded-2xl hover:text-nord10 dark:hover:text-nord8"
                                href="/index.html"
                                >Home</a
                            >
                        </li>

                        <li>
                            <a
                                class="hover:drop-shadow-md hover:rounded-2xl hover:text-nord10 dark:hover:text-nord8"
                                href="/views/posts.html"
                                >Posts</a
                            >
                        </li>
                        <li>
                            <a
                                class="hover:drop-shadow-md hover:rounded-2xl hover:text-nord10 dark:hover:text-nord8"
                                href="https://github.com/Kentokamoto"
                                >Github</a
                            >
                        </li>
                        <li>
                            <a
                                class="hover:drop-shadow-md hover:rounded-2xl hover:text-nord10 dark:hover:text-nord8"
                                href="/views/Kento_Okamoto_Resume.html"
                                >Resume</a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="flex p-4">
                <a class="theme-icon self-center" href="javascript:;">
                    <svg
                        class="moon w-4 h-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"
                        />
                    </svg>
                    <svg
                        class="sun w-4 h-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                        />
                    </svg>
                </a>
            </div>
        </header>

        <main class="grow text-nord1 dark:text-nord4">
            <div class="container flex flex-col mx-auto p-0">
                <div
                    class="flex flex-col bg-nord6 dark:bg-nord2 rounded-3xl justify-around content-center p-4 drop-shadow-2xl my-3"
                >
                    <div class="py-1">
                        <div>
                            <h1 class="text-2xl w-auto text-center">
                                {{page.title}}
                            </h1>
                            <section>{{content}}</section>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="/components/theme.js"></script>

    <script>
        function toggleMenu(e) {
            let svgs = e.getElementsByTagName('svg')
            for (const svg of svgs) {
                if (svg.classList.contains('hidden')) {
                    svg.classList.remove('hidden')
                    svg.classList.add('block')
                } else {
                    svg.classList.remove('block')
                    svg.classList.add('hidden')
                }
            }
            let navLinks = document.getElementById('navLinks')
            navLinks.classList.toggle('opacity-100')
            navLinks.classList.toggle('left-[5px]')
            navLinks.classList.toggle('drop-shadow-md')
            console.log(navLinks)
        }
    </script>
</html>
