<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/dist/output.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body class="flex flex-col flex-initial h-screen bg-nord0">
    <div
      class="container sticky flex grow-0 shrink-0 md:justify-end mx-auto p-3"
    >
      <nav
        class="flex flex-wrap md:flex-none text-xl text-nord5 rounded-3xl drop-shadow-2xl w-full md:w-auto md:flex md:justify-around"
      >
        <a
          class="w-full text-center md:w-auto py-3 md:py-1 md:px-3 hover:drop-shadow-md hover:rounded-2xl hover:text-nord9"
          href="/index.html"
          >Home</a
        >
        <a
          class="w-full text-center md:w-auto py-3 md:py-1 md:px-3 hover:drop-shadow-md hover:rounded-2xl hover:text-nord9"
          href="/posts.html"
          >Posts</a
        >
        <a
          class="w-full text-center md:w-auto py-3 md:py-1 md:px-3 hover:drop-shadow-md hover:rounded-2xl hover:text-nord9"
          href="https://github.com/Kentokamoto"
          >Github</a
        >
        <a
          class="w-full text-center md:w-auto py-3 md:py-1 md:px-3 hover:drop-shadow-md hover:rounded-2xl hover:text-nord9"
          href="https://github.com/Kentokamoto/Resume/blob/master/Kento_Okamoto_Resume.pdf"
          >Resume</a
        >
      </nav>
    </div>
    <main class="mx-auto grow shrink text-nord4">
      <div
        class="container flex flex-col mx-auto flex flex-auto flex-grow-1 p-6 grow-0"
      >
        <div
          class="flex flex-col bg-nord2 rounded-3xl justify-around content-center p-4 drop-shadow-2xl my-3"
        >
          <div class="py-1">
            <div>
              <h1 class="text-2xl w-auto text-center">{{page.title}}</h1>
              <section>{{content}}</section>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
